.App {
  text-align: center;
  min-height: 80vh;
}

.title{
  font-family: 'Questrial', sans-serif;
  font-size: 60px;
  font-weight: bold;
}

.main {
  min-height: 95vh;
}

.plants{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.plant{
  margin: 5px;
}

.plantPic {
  height: 250px;
  width: 250px;
  border-radius: 50px;
  margin: 10px;
}

.plantPic:hover{
  opacity: 0.7;
  cursor: pointer;
}

.footer {
  bottom: 10px;
}