.App {
  text-align: center;
  min-height: 80vh;
}

.title{
  font-family: 'Questrial', sans-serif;
  font-size: 60px;
  font-weight: bold;
  padding: 0;
}

.oneLiner{
  margin-bottom: 15px;
  font-family: "Alegreya";
}

.main {
  min-height: 95vh;
  align-items: center;
  background: lightgrey;
}

.shopPlantsButton {
  background: #095C5C;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 50px;
  height: 40px;
  width: 200px;
}

.plantsContainer{
  background: rgb(243, 236, 245);
  border-radius: 20px;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 15px;
}

.plants{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.plantSearchButton {
  background: #095C5C;
  color: white;
  border-radius: 50px;
}

.plant{
  margin: 5px;
  font-family: "Alegreya";
}

.plantPic {
  height: 250px;
  width: 250px;
  border-radius: 20px;
  margin: 10px;
}

.plantPic:hover{
  opacity: 0.7;
  cursor: pointer;
}

.singlePlantContainerContainer{
  background: beige;
}

.goBackButton{
  background: #095C5C;
  color: white;
  border-radius: 50px;
  position: absolute;
  left: 0;
  margin: 20px;
}

.singlePlantContainer{
  display: flex;
  min-height: 93vh;
}

.singlePlant{
  width: 600px;
  height: 600px;
  margin: 0 auto;
  border-radius: 50px;
  align-items: center;
}

.indivPlantPic{
  margin-top: 20px;
  height: 300px;
  width: 300px;
  border-radius: 20px;
}

.plantInfo{
  background: #D5E4E3;
  width: 300px;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.indivPlantName{
  font-family: 'Questrial', sans-serif;
  font-size: 30px;
}

.indivPlantDescription{
  font-family: "Alegreya";
  font-size: 15px;
}

.indivPlantPrice{
  font-family: "Alegreya";
  font-size: 20px;
}

.addToCart{
  background: #095C5C;
  color: white;
  border-radius: 50px;
}

.footer {
  bottom: 10px;
}